{% extends "_plain.html" %}

{% load i18n %}
{% load account %}

{% block title %}Finance Tracking Web Application | {% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
      <b>Finance Tracking Application</b><div>Password Reset</div>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
	{% if user.is_authenticated %}<p>{% include "account/snippets/already_logged_in.html" %}</p>{% endif %}
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}